# + File systems
CONFIG_EXT4_USE_FOR_EXT2=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_XFS_FS=n
CONFIG_GFS2_FS=n
CONFIG_OCFS2_FS=n
CONFIG_BTRFS_FS=n
CONFIG_NILFS2_FS=n
CONFIG_F2FS_FS=n
CONFIG_FILE_LOCKING=n
CONFIG_DNOTIFY=n
CONFIG_INOTIFY_USER=n
CONFIG_FANOTIFY=n
CONFIG_QUOTA=n
CONFIG_AUTOFS4_FS=n
CONFIG_AUTOFS_FS=n
CONFIG_FUSE_FS=n
CONFIG_OVERLAY_FS=n
CONFIG_FSCACHE=n
CONFIG_ISO9660_FS=n
CONFIG_UDF_FS=n
CONFIG_MSDOS_FS=n
CONFIG_NTFS_FS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_DLM=n
