
CONFIG_NET_CORE=n
CONFIG_ATM_DRIVERS=n
CONFIG_MDIO_DEVICE=n
CONFIG_PHYLIB=n
CONFIG_PPP=n
CONFIG_SLIP=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_WLAN=n
CONFIG_IEEE802154_DRIVERS=n

# + Networking support + Networking options
CONFIG_PACKET=n
# needed by dbus
CONFIG_UNIX=y
CONFIG_XFRM_USER=n
CONFIG_NET_KEY=n
CONFIG_INET=n
CONFIG_NETFILTER=n
CONFIG_ATM=n
CONFIG_BRIDGE=n
CONFIG_VLAN_8021Q=n
CONFIG_ATALK=n
CONFIG_IEEE802154=n
CONFIG_NET_SCHED=n
CONFIG_DNS_RESOLVER=n
CONFIG_BATMAN_ADV=n
CONFIG_MPLS=n
CONFIG_NET_NSH=n
CONFIG_CGROUP_NET_CLASSID=n

# + Networking support
CONFIG_HAMRADIO=n
CONFIG_CAN=n
CONFIG_WIRELESS=n
CONFIG_WIMAX=n
CONFIG_RFKILL=n
CONFIG_NET_9P=n
CONFIG_NFC=n

# + Device Drivers
CONFIG_NETDEVICES=n
